@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@tailwind components;
@tailwind utilities;

//simple equivalent to tailwindcss base with roboto sans-serif font
* {
  @apply m-0 p-0 box-border;
  font-family: 'Roboto', sans-serif;
}

$theme: matx.define-theme((
        color: (
                theme-type: light,
                primary: matx.$m3-blue-palette
        ),
        density: (
          scale: -5
        )
));

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
}
